@font-face {
  font-family: 'unimed-fonte-negrito';
  src:  url('unimedslab-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'unimed-fonte-regular';
  src:  url('unimedslab-regular-webfont.woff') format('woff');
}

.fonte-negrito {
    font-family: 'unimed-fonte-negrito';
}

.fonte-regular {
    font-family: 'unimed-fonte-regular';
}